@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Login">Login</a>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="NewPassword"> Or just give me a Quick PassWord ! </a>
</div>