
@{
    ViewData["Title"] = "NewPassword";
    var password = ViewData["password"];
}

<h1>NewPassword</h1>

<form asp-controller="Home" asp-action="NewPassword" method="post">
    <div>
        <label>Enter the length of your new Password </label>
        <input type="number" min="6" max="20" name="input"/>
    </div>
</form>

@if (password != null )
{
<div class=" alert-danger">

    <h1>@password</h1>

</div>
}